/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body {
    font-family: 'Arial';
    line-height: 1.6;
    color: #582c0c;    
}
 /* Container for Centering Content */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.container img{
    width: 60px;
    height: 60px;
    align-items: left;
}
/* Header Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
header{
    background-color:#2e1302;
    position: sticky;
    top: 0;
}
#hero {
    padding: 150px 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.text h1{
color: #e5bb8c;
font-size: 60px;
font-family:'Gill Sans';
}
.text span{
    color: #c36b08;
    font-family:cursive;
    font-size: 70px;
}
.text button{
    background-color: #eec18d;
    color: rgb(133, 65, 9);
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 25px;
}
#hero img{
    align-items:center;
    width: 800px;
    height: 330px;
    transition:2ms;
    padding-bottom: 20px;
    padding-top: 20px;  
}
.hero-section {
    display: flex;
    justify-content: flex-end;
}
.hero-text {
    text-align:left;
}
.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
button {
    background-color: #714007;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 25px;
    cursor: pointer;
}
button:hover {
    background-color: #cc5200;
}
/* Features Section */
#Menu {
    background-color: #e2ba8c;
    padding: 60px 0; 
    text-align: center;
}
#Menu h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.Menu h3{
    font-size: 25px;
}
.Menu {    
    display: inline-block;
    width: 30%;
    height: 350px;
    margin: 30px 1.5%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.Menu:hover{
    transform: translateY(-15px)
}
.Menu img{
    width: 70%;
    height: 70%;
}
/* Pricing Section */
#about {
    padding: 80px 0;
    background-color: #421a02;
    text-align: center;
    font-family: Georgia;
}
#about h1{
    color:white ;
}


#about h2 {
    font-size: 2.8em;
    margin-bottom: 50px;
    color: #f6ce99;
}

.pricing-card {
    display: inline-block;
    width: 30%;
    margin: 10px 1.5%;
    padding: 10px;
   
    border-radius: 10px;
   
    
}

.pricing-card img{
    width: 110%;
    height: 110%;
    margin: 20px 1.5%;
    padding:20px;
    border-radius: 40px;
    border:  5px solid #e5bb8c;
    
   
}



.pricing-card h3 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #e5bb8c;
}

.pricing-card p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #e5bb8c;
}





/* Contact Section */
#contact {
    padding: 100px 0;
    text-align: center;
    background-color: #e6a369;
    
}
.contactus {
    padding: 20px ;
    border-radius: 5px;
    font-size: 20px;
    font-family: cursive;
}
.contactus h1{
    color: #421a02;
    font-size: 40px;
}
input[type=text], select, textarea{
    width:100%;
    padding:12px;
    border: 1px solid white ;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: #854a03;
    color:white ;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#contact a {
    background-color: #451e04;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

#contact a:hover {
    background-color: #884907;
}

/* Footer Section */
footer {
    background-color: #492d06;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
